{{>header}}
{{>navbar}}
<section class="container my-3">
    <form class="my-2 border border-2 border-primary p-3" method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="Add amount of money to add" name="amount">
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Add Balance</button>
        </div>
    </form>
</section>
{{footer}}