{{>header}}
{{>navbar}}
<section class="container my-3">
    <form class="my-2 border border-2 border-primary p-3" method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="client name" name="name">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="client email" name="email">
        </div>
        <label>Address Details</label>
        <div class="mb-3">
            <input class="form-control" placeholder="city" name="city">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="street" name="street">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="building number" name="buildNum">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="client balance" name="balance">
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Add New Client</button>
        </div>
    </form>
</section>
{{footer}}