{{>header}}
{{>navbar}}
<section class="container my-3">
    <div class="alert alert-danger">
        {{err}}
    </div>
    <div class="text-right">
        <a href="/{{backLink}}" class="btn btn-primary mt-3">Back</a>
    </div>
</section>