{{>header}}
{{>navbar}}
<section class="container my-3">
    <form class="my-2 border border-2 border-primary p-3" method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="Post Title" name="title">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Post Author" name="author">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Author email" name="email">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Post Body" name="body">
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Add New Post</button>
        </div>
    </form>
</section>
{{footer}}